#semilla{
	height: 320px;
  background-image: url('../img/semilla.jpg');
}
#piefoto{
	width: 840px;
	padding: 35px;
	margin: 0 auto ;
}
.servicios{
	display: flex;
	flex-wrap: wrap;
}
.icon{
	width: 30%;
	margin: 5px;
}
.container-flow{
	margin-top: 20px;
}
.parrafo-mv{
	width: 500px;
	margin: auto;
}
#metodo{
	background-image: url('../img/fondo.jpg');
	margin-left: -15px;

}
.metodologia{
	margin: 105px auto;
  color: white;
}
.servicios-container{
	margin: 30px auto;
	width: 80%;
}
h3{
	margin: 10px 0px;
}
.proyecto{
	padding: 50px;
	color: white;
}
.chicas{
	border-radius: 50%;
}
.rs{
	margin: 5px;
  width: 45px;
}
#pieiz{
	text-align: start;
}
#pieder{
	text-align: end;
}
.com{
	width: 130px;
}