#semilla{
	height: 320px;
  background-image: url('../img/semilla.jpg');
}
#piefoto{
	width: 840px;
	padding: 35px;
	margin: 0 auto ;
}
.servicios{
	display: flex;
	flex-wrap: wrap;
}
.icon{
	width: 30%;
}
.container-flow{
	margin-top: 20px;
}
.parrafo-mv{
	width: 500px;
	margin: auto;
}
#metodo{
	background-image: url('../img/fondo.jpg');
	margin-left: -15px;

}
.met{
	
}